@import "bootstrap/scss/bootstrap";

:root {
    --bg-body: #FDFDFD;
    --bg-color-purple: #6c79db;
    --bg-color-green-white: #40ff2f;
}



* {
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.form-control:focus,
.form-select:focus {
    outline: none;
    box-shadow: none;
    border: var(--bs-border-width) solid var(--bs-border-color);
}



.bg-main {}

.btn-config {
    background-color: var(--bg-color-purple) !important;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem;
    z-index: 2;
}

.btn-logout {
    background-color: var(--bg-color-green-white) !important;
    position: fixed;
    top: 0;
    right: 0;
    margin: 2rem;
    z-index: 2;
}

.btn-submit-name {
    background-color: var(--bg-color-green-white) !important;

}



.switch-input {
    background-color: var(--bs-warning) !important;
    border: none !important;
    box-shadow: none !important;
}


.animation-bg {
    position: fixed;
    z-index: -1;
    top: -90px;
    right: -90px;
    filter: brightness(200%);
}

.animation-bg img {
    width: 500px;
    animation: spin 2s linear infinite;
}

.animation-bg--card {
    position: absolute;
    bottom: 20px;
    right: 20px;
    filter: brightness(200%);
    width: 120px;
    animation: spin 2s linear infinite;
}

.pokemon-img--card {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 767.98px) {
    .animation-bg img {
        width: 200px;
    }

    .animation-bg {
        top: -50px;
        right: -50px;

    }
}