*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#App{
  padding: 1rem;
}
body{
  font-family: 'Monomaniac One', sans-serif;
  font-size: 30px;
}
nav{
  display: flex;
  padding: .5rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: rgb(177,82,65);
}